
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/*FONTS & COLORS-------------------------------------------------*/

:root {

/*Primary*/

--color-dark-cyan: hsl(158, 36%, 37%);
--color-dark-green: hsl(156, 42%, 18%);
--color-cream: hsl(30, 38%, 92%);

/*Neutral*/

--color-very-dark-blue: hsl(212, 21%, 14%);
--color-dark-grayish-blue: hsl(228, 12%, 48%);
--color-white: hsl(0, 0%, 100%);

/*Fonts*/

--ff-fraunces: 'Fraunces', serif;
--ff-montserrat: 'Montserrat', sans-serif;

--fw-regular: 500;
--fw-bold: 700;

/*Font-size*/
 --fs-paragraph: 0.875rem;

}

/*Main----------------------------------------------------*/

body {
	background: var(--color-cream);

}

p {
	font-size: var(--fs-paragraph);
}


.page-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	max-width: 37.5rem;
	border-radius: 0.5rem;
	overflow: hidden;
	margin: 1rem;

}

.card > * {
	width: 100%;
}


/*Left-side Desktop----------------------------------------------------*/

.left-image {
	width: 100%;
}

/*Right-side Desktop----------------------------------------------------*/

.right-info {
	display: flex;
	background: var(--color-white);
}

#right-info-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 1.875rem;
}

.title {
	text-transform: uppercase;
	letter-spacing: 0.344rem;
}


.perfume-name {
	font-size: 2rem;
	line-height: 2.25rem;
}


.title, .description, #original-price, button {
	font-family: var(--ff-montserrat);
}

.title, .description, #original-price {
	color: var(--color-dark-grayish-blue);
}
.perfume-name, #current-price {
	font-family: var(--ff-fraunces);
}

.prices {
	display: flex;
}
 
#original-price {
	margin: auto;
	font-size: 0.75rem;
	text-decoration: line-through;
	margin-left: 1.875rem;
}

#current-price {
	color: var(--color-dark-cyan);
	font-size: 1.938rem;
}

/*Accessibility----------------------------------------------------*/

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}



/*Button----------------------------------------------------*/

.button {
	background: var(--color-dark-cyan);
	padding: 9px 0;
	color: var(--color-white);
	border-radius: 5px;
	border: none;
	font-size: 0.875rem;
	cursor: pointer;
	font-weight: var(--fw-bold);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.button[data-pic="shopping-cart"]::before {
	content: "";
	background-image: url(images/icon-cart.svg);
	width: 0.938rem;
	height: 1rem;
}

.button:hover {
	background: var(--color-dark-green);
	color: var(--color-white);
}

.button:focus {
	background: var(--color-dark-green);
	color: var(--color-white);
}



/*Media Query----------------------------------------------------*/

@media (max-width: 600px) {

	.page-wrapper{
		flex-direction: column;
	}

	.card {
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
		flex-shrink: 0;
	}

	#right-info-content {
		margin: 0 0.938rem;
		gap: 1rem;
		padding: 1.5rem 0.4rem;
	}


}





